<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Bowerbirds | Luxury and Bespoke Interiors</title>

  <meta property="og:title" content="bowerbirds.co.uk">
  <meta property="og:description" content="Luxury and Bespoke Interiors">
  <meta property="og:image" content="https://marchumphries.github.io/img/sofabed-in-berwick-khaki.jpg">
  <meta property="og:image:width" content="1080">
  <meta property="og:image:height" content="1280">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="https://marchumphries.github.io">
  <meta name="twitter:title" content="bowerbirds.co.uk">
  <meta name="twitter:description" content="Luxury and Bespoke Interiors">
  <meta name="twitter:image" content="https://marchumphries.github.io/img/sofabed-in-berwick-khaki.jpg">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300&display=swap" rel="stylesheet">
  <link href="css/bowerbirds.css" rel="stylesheet" />
</head>
<body>
  <nav id="header" class="navbar navbar-expand-lg navbar-light bg-light"></nav>
  <div class="container-fluid">
    <div id="result" class="row"></div>
  </div>
  
<script id="headerTmpl" type="text/x-jsrender">
  {{for headerDetails}}
    <a class="navbar-brand" href="index.html"><img src="{{:logo}}" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
      {{for nav}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="MenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{:navItems}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">{{:navItems}}</a>
          </div>
        </li> 
      {{/for}} 
      </ul>
    </div>
  {{/for}}  

</script>

<script id="personTmpl" type="text/x-jsrender">
  <div class="col-12 mb-5"> 
    <h4 class="mb-3">Office</h4>
    <div class="row">
      {{for productDetails}}
        {{if categories.cat == "Office"}}
        <div class="col-6 col-md-3">
          <a href="product.html?productId={{:url}}">
            <img src="{{:keyimage}}" class="d-block w-100 mb-2" alt="{{:alt}}">
            <h4>{{:name}}</h4>
          </a>
        </div>
        {{/if}}
      {{/for}}
    </div>
  </div>
  
  <div class="col-12 mb-5"> 
    <h4 class="mb-3">Seating</h4>
    <div class="row">
      {{for productDetails}}
        {{if categories.cat == "Seating"}}
        <div class="col-6 col-md-3">
          <a href="product.html?productId={{:url}}">
            <img src="{{:keyimage}}" class="d-block w-100 mb-2" alt="{{:alt}}">
            <h4>{{:name}}</h4>
          </a>
        </div>
        {{/if}}
      {{/for}}
    </div>
  </div>
</script>

<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/jsrender.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bowerbirds.js"></script>

<script>
  
// Get URL Param
var getUrlParameter = function getUrlParameter(sParam) {
  var sPageURL = window.location.search.substring(1),
    sURLVariables = sPageURL.split('&'),
    sParameterName,
    i;

  for (i = 0; i < sURLVariables.length; i++) {
    sParameterName = sURLVariables[i].split('=');

    if (sParameterName[0] === sParam) {
        return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
    }
  }
};
    
// Compiled template
var headertmpl = $.templates("#headerTmpl");

var xmlhttp1 = new XMLHttpRequest();
xmlhttp1.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
    header = JSON.parse(this.responseText);
    console.log(header);
    $("#header").html(headertmpl.render(header));
  }
};
xmlhttp1.open("GET", "json/header.json", true);
xmlhttp1.send();
  
  
var product = getUrlParameter('productId');  
  
// Compiled template
var tmpl = $.templates("#personTmpl");


var xmlhttp = new XMLHttpRequest();
xmlhttp.onreadystatechange = function() {
  if (this.readyState == 4 && this.status == 200) {
    person = JSON.parse(this.responseText);
    filter = {product};
    $("#result").html(tmpl.render(person, filter));
  }
};
xmlhttp.open("GET", "json/products.json", true);
xmlhttp.send();

</script>

<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>

</body>
</html>
